;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[org.clojure/spec.alpha "0.5.238"]
  [org.clojure/test.check "1.1.1"]]

 :builds
 {:app {:target :node-script
        :main blue.lions.kurono.core/-main
        :output-to "out/kurono.js"
        :build-hooks [(blue.lions.kurono.etc.hook/copy-resources)]}
  :test {:target :node-test
         :output-to "out/test.js"
         :ns-regexp "-test$"
         :build-hooks [(blue.lions.kurono.etc.hook/copy-resources)]}}}
