{:catalog "../../bishibashi/catalog.edn"
 :manuscripts "../../bishibashi/originals"
 :format {:heading-number ["第%d章"
                           "%d.%d"
                           "%d.%d.%d"
                           "%d.%d.%d.%d"]}}
