{:catalog "../../bishibashi/catalog.edn"
 :manuscripts "../../bishibashi/originals"
 :format {:chapters {:heading-number ["第%d章"
                                      "%d.%d"
                                      "%d.%d.%d"
                                      "%d.%d.%d.%d"]
                     :image-number "図%d.%d"}}}
